{
    "swagger": "2.0",
    "info": {
        "version": "v1",
        "title": "K2 API"
    },
    "host": "helpdesk.medimobile.com",
    "schemes": [
        "https"
    ],
    "paths": {
        "/api/Swagger/Organizations": {
            "get": {
                "tags": [
                    "Swagger"
                ],
                "operationId": "Swagger_Organizations",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "city",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "state",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "zip",
                        "in": "query",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Portal organizations",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Organization"
                            }
                        }
                    }
                }
            }
        },
        "/api/Swagger/Profiles": {
            "get": {
                "tags": [
                    "Swagger"
                ],
                "operationId": "Swagger_Profiles",
                "consumes": [],
                "produces": [
                    "application/json",
                    "text/json",
                    "application/xml",
                    "text/xml"
                ],
                "parameters": [
                    {
                        "name": "organizationId",
                        "in": "query",
                        "required": true,
                        "type": "string",
                        "format": "uuid"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "object"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "Organization": {
            "type": "object",
            "properties": {
                "Id": {
                    "format": "uuid",
                    "type": "string",
                    "example": "00000000-0000-0000-0000-000000000000"
                },
                "Name": {
                    "type": "string"
                }
            },
            "xml" : {
              "name" : "Organization"
            }
        }
    },
    "securityDefinitions": {
        "basic": {
            "type": "basic",
            "description": "Basic HTTP Authentication"
        }
    },
    "security": [
        {
            "basicAuth": []
        }
    ]
}
